<a href="https://colab.research.google.com/github/KaustubhShirsath/ML-basics/blob/main/Data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving adult.csv to adult (1).csv

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('adult.csv' , na_values = ['#NAME?'])

In [ ]:
df.head()

   age  workclass  fnlwgt  ... hours-per-week  native-country income
0   25    Private  226802  ...             40   United-States  <=50K
1   38    Private   89814  ...             50   United-States  <=50K
2   28  Local-gov  336951  ...             40   United-States   >50K
3   44    Private  160323  ...             40   United-States   >50K
4   18          ?  103497  ...             30   United-States  <=50K

[5 rows x 15 columns]

In [ ]:
print(df['income'].value_counts())

<=50K    37155
>50K     11687
Name: income, dtype: int64

In [ ]:
 df['income']= [0 if x == '<=50K' else 1 for x in df['income']]

In [ ]:
X = df.drop('income', 1)
y = df.income

In [ ]:
print(X.head())

   age  workclass  fnlwgt  ... capital-loss  hours-per-week native-country
0   25    Private  226802  ...            0              40  United-States
1   38    Private   89814  ...            0              50  United-States
2   28  Local-gov  336951  ...            0              40  United-States
3   44    Private  160323  ...            0              40  United-States
4   18          ?  103497  ...            0              30  United-States

[5 rows x 14 columns]

In [ ]:
print(y.head())

0    0
1    0
2    1
3    1
4    0
Name: income, dtype: int64

In [ ]:
X['education'].head()

0            11th
1         HS-grad
2      Assoc-acdm
3    Some-college
4    Some-college
Name: education, dtype: object

In [ ]:
pd.get_dummies(X['education']).head()

   10th  11th  12th  1st-4th  ...  Masters  Preschool  Prof-school  Some-college
0     0     1     0        0  ...        0          0            0             0
1     0     0     0        0  ...        0          0            0             0
2     0     0     0        0  ...        0          0            0             0
3     0     0     0        0  ...        0          0            0             1
4     0     0     0        0  ...        0          0            0             1

[5 rows x 16 columns]

In [ ]:
for col in X.columns:
  if X[col].dtypes == 'object':
    uniq_cat = len(X[col].unique())
    print("Feature '{col} has {uniq_cat} unique categories".format(col = col, uniq_cat = uniq_cat))

Feature 'workclass has 9 unique categories
Feature 'education has 16 unique categories
Feature 'marital-status has 7 unique categories
Feature 'occupation has 15 unique categories
Feature 'relationship has 6 unique categories
Feature 'race has 5 unique categories
Feature 'gender has 2 unique categories
Feature 'native-country has 42 unique categories

In [ ]:
X['native-country'].value_counts().sort_values(ascending=False).head(10)

United-States    43832
Mexico             951
?                  857
Philippines        295
Germany            206
Puerto-Rico        184
Canada             182
El-Salvador        155
India              151
Cuba               138
Name: native-country, dtype: int64

In [ ]:
X['native-country'] = ['United-States' if x == 'United-States' else 'Other' for x in X['native-country']]
X['native-country'].value_counts()

United-States    43832
Other             5010
Name: native-country, dtype: int64

In [ ]:
todummy_list = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'gender', 'native-country']

In [ ]:
def dummy_df(df, todummy_list):
  for x in todummy_list:
    dummies = pd.get_dummies(df[x], prefix = x, dummy_na = False)
    df = df.drop(x, 1)
    df  =pd.concat([df, dummies], axis = 1)
  return df

In [ ]:
X = dummy_df(X, todummy_list)
X.head()

   age  fnlwgt  ...  native-country_Other  native-country_United-States
0   25  226802  ...                     0                             1
1   38   89814  ...                     0                             1
2   28  336951  ...                     0                             1
3   44  160323  ...                     0                             1
4   18  103497  ...                     0                             1

[5 rows x 68 columns]

In [ ]:
X.isnull().sum().sort_values(ascending=False).head()

native-country_United-States    0
education_Bachelors             0
education_1st-4th               0
education_5th-6th               0
education_7th-8th               0
dtype: int64

In [ ]:
!pip install sklearn

Requirement already satisfied: sklearn in /usr/local/lib/python3.7/dist-packages (0.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from sklearn) (0.22.2.post1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.0.1)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.4.1)
Requirement already satisfied: numpy>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.19.5)

In [ ]:
from sklearn.impute import SimpleImputer

imp = SimpleImputer(missing_values=np.nan, strategy='median')
imp.fit(X)
X = pd.DataFrame(data=imp.transform(X), columns=X.columns)

In [ ]:
X.isnull().sum().sort_values(ascending=False).head()

native-country_United-States    0
education_Bachelors             0
education_1st-4th               0
education_5th-6th               0
education_7th-8th               0
dtype: int64

In [ ]:
def find_outliers_tukey(x):
  q1  =np.percentile(x, 25)
  q3  =np.percentile(x, 75)
  iqr = q3 - q1
  floor = q1 - 1.5*iqr
  ceiling = q3 + 1.5*iqr
  outlier_indices = list(x.index[(x < floor) | (x > ceiling)])
  outlier_values = list(x[outlier_indices])

  return outlier_indices, outlier_values

In [ ]:
tukey_indices, tukey_values = find_outliers_tukey(X['age'])
np.sort(tukey_values)

array([79., 79., 79., 79., 79., 79., 79., 79., 79., 79., 79., 79., 79.,
       79., 79., 79., 79., 79., 79., 79., 79., 79., 79., 79., 79., 79.,
       79., 79., 79., 79., 80., 80., 80., 80., 80., 80., 80., 80., 80.,
       80., 80., 80., 80., 80., 80., 80., 80., 80., 80., 80., 80., 80.,
       80., 80., 80., 80., 80., 80., 80., 80., 80., 80., 80., 80., 80.,
       80., 80., 80., 81., 81., 81., 81., 81., 81., 81., 81., 81., 81.,
       81., 81., 81., 81., 81., 81., 81., 81., 81., 81., 81., 81., 81.,
       81., 81., 81., 81., 81., 81., 81., 81., 81., 81., 81., 81., 81.,
       81., 82., 82., 82., 82., 82., 82., 82., 82., 82., 82., 82., 82.,
       82., 82., 82., 83., 83., 83., 83., 83., 83., 83., 83., 83., 83.,
       83., 84., 84., 84., 84., 84., 84., 84., 84., 84., 84., 84., 84.,
       84., 85., 85., 85., 85., 85., 86., 87., 87., 87., 88., 88., 88.,
       88., 88., 88., 89., 89., 90., 90., 90., 90., 90., 90., 90., 90.,
       90., 90., 90., 90., 90., 90., 90., 90., 90., 90., 90., 90., 90.,
       90., 90., 90., 90., 90., 90., 90., 90., 90., 90., 90., 90., 90.,
       90., 90., 90., 90., 90., 90., 90., 90., 90., 90., 90., 90., 90.,
       90., 90., 90., 90., 90., 90., 90., 90.])

In [ ]:
## Capture outliers by Kernel Density Estimation
## Non-parametric way to estimate the pdf of a given feature
## Captures outliers in bimodal distributions compared to extreme value detection in tukey IQR

# from sklearn.preprocessing import scale
# from statsmodels.nonparametric.kde import KDEUnivariate

# def find_outliers_kde(x):
#   x_scaled = scale(list(map(float, x)))
#   kde = KDEUnivariate(x_scaled)
#   kde.fit(bw="scott", fft=True)
#   pred = kde.evaluate(x_scaled)

#   n = sum(pred < 0.05)
#   outlier_ind = np.asarray(pred).argsort()[:n]
#   outlier_value = np.asarray(x)[outlier_ind]

#   return outlier_ind, outlier_value

In [ ]:
# kde_indices, kde_values = find_outliers_kde(X['age'])
# np.sort(kde_values)

In [ ]:
## Use polynomial features to create two way interaction for all features

from itertools import combinations
from sklearn.preprocessing import PolynomialFeatures

def add_interactions(df):
  # Get feature names
  combos = list(combinations(list(df.columns), 2))
  colnames = list(df.columns) + ['_'.join(x) for x in combos]

  #find interactions
  poly = PolynomialFeatures(interaction_only=True, include_bias=False)
  df = poly.fit_transform(df)
  df = pd.DataFrame(df)
  df.columns = colnames

  # Remove interaction terms with all 0 values
  noint_indices = [i for i, x in enumerate(list((df==0).all())) if x]
  df = df.drop(df.columns[noint_indices], axis =1)

  return df

In [ ]:
X = add_interactions(X)
X.head()

    age  ...  gender_Male_native-country_United-States
0  25.0  ...                                       1.0
1  38.0  ...                                       1.0
2  28.0  ...                                       1.0
3  44.0  ...                                       1.0
4  18.0  ...                                       0.0

[5 rows x 1891 columns]

In [ ]:
# Dimensionality reduction by principal component analysis

from sklearn.decomposition import PCA
pca = PCA(n_components=10)
X_pca = pd.DataFrame(pca.fit_transform(X))

In [ ]:
X_pca.head()

              0             1  ...             8             9
0 -2.017217e+08 -1.667885e+07  ... -64871.541139  69908.263545
1 -2.017239e+08 -1.672363e+07  ...  34054.088856  39932.688606
2 -2.017189e+08 -1.662251e+07  ... -11838.443290  18544.636111
3  1.030840e+09 -1.504992e+07  ...  26679.662855  -6018.824093
4 -2.017248e+08 -1.674194e+07  ...  -5318.198621 -73615.366029

[5 rows x 10 columns]

In [ ]:
# Feature Selection and Model Building
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, test_size=0.3, random_state=1)

In [ ]:
df.shape
X.shape

(48842, 1891)

In [ ]:
#Use feature selection to select the most important features
import sklearn.feature_selection

select = sklearn.feature_selection.SelectKBest(k=20)
selected_features = select.fit(X_train, y_train)
indices_selected = selected_features.get_support(indices=True)
colnames_selected = [X.columns[i] for i in indices_selected]

X_train_selected = X_train[colnames_selected]
X_test_selected = X_test[colnames_selected]

/usr/local/lib/python3.7/dist-packages/sklearn/feature_selection/_univariate_selection.py:114: UserWarning: Features [ 350  663  824  829  834  992 1127 1164 1208 1315 1324 1327 1437 1628
 1631] are constant.
  UserWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/feature_selection/_univariate_selection.py:115: RuntimeWarning: invalid value encountered in true_divide
  f = msb / msw

In [ ]:
colnames_selected

['educational-num',
 'marital-status_Married-civ-spouse',
 'relationship_Husband',
 'age_educational-num',
 'age_marital-status_Married-civ-spouse',
 'age_relationship_Husband',
 'fnlwgt_marital-status_Married-civ-spouse',
 'fnlwgt_relationship_Husband',
 'educational-num_hours-per-week',
 'educational-num_marital-status_Married-civ-spouse',
 'educational-num_relationship_Husband',
 'hours-per-week_marital-status_Married-civ-spouse',
 'hours-per-week_relationship_Husband',
 'marital-status_Married-civ-spouse_relationship_Husband',
 'marital-status_Married-civ-spouse_race_White',
 'marital-status_Married-civ-spouse_gender_Male',
 'marital-status_Married-civ-spouse_native-country_United-States',
 'relationship_Husband_race_White',
 'relationship_Husband_gender_Male',
 'relationship_Husband_native-country_United-States']

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score

def find_model_perf(X_train, y_train, X_test, y_test):
  model = LogisticRegression()
  model.fit(X_train, y_train)
  y_hat = [x[1] for x in model.predict_proba(X_test)]
  auc = roc_auc_score(y_test, y_hat)

  return auc

In [ ]:
find_model_perf(X_train_selected, y_train, X_test_selected, y_test)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

0.6823390107328551